.customCloseButton {
    background-color: rgba(255, 0, 0, 0.7);  /* Semi-transparent red background */
    color: #ffffff;  /* Set your desired text color */
    border: 2px solid rgba(255, 0, 0, 0.7);  /* Semi-transparent red border */
    /* Add more styles as needed */
    margin: 5px;
  }

  .custom-close-button:hover {
    background-color: rgba(204, 0, 0, 0.7);  /* Semi-transparent red background on hover */
    border-color: rgba(204, 0, 0, 0.7);  /* Semi-transparent red border on hover */
    /* Add more hover styles as needed */
  }

  